@charset "UTF-8";

/* 基本 */
* {
    margin: 0px;
}


body {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 
        [head] 100px
        [title] auto
        [sub] auto
        [recent] auto
        [foot] 100px;
    grid-row-gap: 20px;
    row-gap: 20px;
    font-family:  "M PLUS 1p",sans-serif;

}

body > * {
    grid-column: 2 / -2;
}

header {
    grid-row: head;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 5px #444444;
}

nav {
    grid-row: head;
    justify-self: center;
    align-self: end;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    column-gap: 5   px;
}

nav a {
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

nav a:hover {
    color: #ef9504;
}


h1 {
    grid-row: title;
    justify-self: start;
    align-self: center;
    /*text-align: center;*/
    color: #ffffff;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 0 0 1px yellow;
}

p {
    grid-row: sub;
}

img {
    width: 100%;
    height: auto;
}

p.subtitle a {
    margin-top: 80px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(85,93,107,0.2);
    border: solid 2px #ffffff;
    border-radius: 5px;
    padding: 10px 40px;
    display: inline-block;
}

p.subtitle a:hover {
    background-color: #ef9504;
}

figure.hero {
    grid-column: 1 / -1;
    grid-row: title / span 2;
}

figure.hero img {
    height: 400px;
    object-fit: cover;
    vertical-align: bottom;
    filter: brightness(95%);
    z-index: -1;
    position: relative; /*edge用らしい */

}

section {
    grid-row: recent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
    gap: 20px 10px;
}

footer {
    grid-row: foot;
}